[submodule "algorithms"]
	path = algorithms
	url = https://github.com/keon/algorithms.git
[submodule "Java"]
	path = Java
	url = https://github.com/TheAlgorithms/Java.git
[submodule "ctci"]
	path = ctci
	url = https://github.com/careercup/CtCI-6th-Edition
