
[submodule "keon-algorithms"]
	path = keon-algorithms
	url = https://github.com/keon/algorithms.git
[submodule "TheAlgorithms-Java"]
	path = TheAlgorithms-Java
	url = https://github.com/TheAlgorithms/Java.git
[submodule "BlakeBrown-HackerRank-Solutions"]
	path = BlakeBrown-HackerRank-Solutions
	url = https://github.com/BlakeBrown/HackerRank-Solutions.git
[submodule "RodneyShag-LeetCode_solutions"]
	path = RodneyShag-LeetCode_solutions
	url = https://github.com/RodneyShag/LeetCode_solutions.git
[submodule "RodneyShag-HackerRank_solutions"]
	path = RodneyShag-HackerRank_solutions
	url = https://github.com/RodneyShag/HackerRank_solutions.git
[submodule "careercup-CtCI-6th-Edition"]
	path = careercup-CtCI-6th-Edition
	url = https://github.com/careercup/CtCI-6th-Edition.git
[submodule "TheAlgorithms-Python"]
	path = TheAlgorithms-Python
	url = https://github.com/TheAlgorithms/Python.git
[submodule "TheAlgorithms-Go"]
	path = TheAlgorithms-Go
	url = https://github.com/TheAlgorithms/Go.git
[submodule "TheAlgorithms-Javascript"]
	path = TheAlgorithms-Javascript
	url = https://github.com/TheAlgorithms/Javascript.git
[submodule "Winterbe-Java8-Tutorial"]
	path = Winterbe-Java8-Tutorial
	url = https://github.com/winterbe/java8-tutorial.git
